@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: black;
    --background-end-rgb: black;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #FFF; /* This applies the green background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-sphere {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure it stays behind other content */
}

.tagcloud {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.0625em;
  font-size: 1em;
}

@media (max-width: 768px) {
  .tagcloud {
    font-size: 0.8em; /* Smaller font size for smaller screens */
  }
}

.tagcloud--item {
  color: #006400;
  text-transform: uppercase;
}

.float-image-left {
  shape-outside: circle(50%);
  margin-right: 20px;
}

.float-image-right {
  shape-outside: circle(50%);
  margin-left: 20px;
}
